@import url(common.css);

/* ______________ GLOBAL______________________ */
.mondrian {
  background-color: #feedd9;
}
.sq_conteiner {
  width: 1200px;
  margin: 0 auto;
}

.top {
  padding: 20px 0px 20px 0px;
}

.outline {
  outline: 3px solid red;
}
.paragraph {
  text-align: justify;
  margin: 0;
}

.background1 {
	background: #00ffff;
 }
 
 .background2 {
	background: #adff2f;
 }
 .background3 {
	background: #ff8c00;
 }

 .hiden {
	overflow: hidden;
 }

 .middle {
	vertical-align: middle;
 }

 .fs35 {
	font-size: 35px;
 }

 .w400_h400 {
	width: 400px;
	height: 400px;
 }
 
 .w800_h200 {
	width: 800px;
	height: 200px;
 }
 
 .w400_h133 {
	width: 400px;
	height: calc(400px / 3);
 }
 .w400_h200 {
	width: 400px;
	height: 200px;
 }
 .w400_h100 {
	width: 400px;
	height: 100px;
 }

/* ______________ Inline_Block ______________________ */

.fs0 {
  font-size: 0px;
}

.inline_block {
  display: inline-block;
}

/* ______________ Float ______________________ */

.clearfix::after {
	content: "";
	display: block;
	clear: both;
 }

 .float{
	float: left;
 }

 /* ______________ Flex ______________________ */

 .flex{
	display: flex;
 }
 