@import url(common.css);

/* ______________ GLOBAL______________________ */
.conteiner {
  width: 1200px;
}

.p_middle {
  margin: 0 auto;
}

.top {
  padding: 20px 0px 20px 0px;
}

.outline {
  outline: 3px solid red;
}

.paragraph {
  text-align: justify;
  margin: 0;
}

.background1 {
  background: #00ffff;
}

.background2 {
  background: #adff2f;
}
.background3 {
  background: #ff8c00;
}

.background4 {
  background-color: #feedd9;
}

.background5 {
  background: #eee7e7;
}

.background6 {
  background: #cac8c8;
}

.hiden {
  overflow: hidden;
}

.middle {
  vertical-align: middle;
}

.text_center {
  text-align: center;
}

.fs0 {
	font-size: 0px;
 }

.fs35 {
  font-size: 35px;
}

.w400_h400 {
  width: 400px;
  height: 400px;
}

.w800_h200 {
  width: 800px;
  height: 200px;
}

.w400_h133 {
  width: 400px;
  height: calc(400px / 3);
}
.w400_h200 {
  width: 400px;
  height: 200px;
}
.w400_h100 {
  width: 400px;
  height: 100px;
}

.h50 {
  height: 50px;
}

.w50 {
  width: 50px;
}

.w100 {
  width: 100px;
}


/* ______________ Table ______________________  */
.table {
  border: 2px solid black;
}

.text_bold {
  font-weight: bold;
}

/* ______________ Inline_Block ______________________ */

.inline_block {
  display: inline-block;
}

/* ______________ Float ______________________ */

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.float {
  float: left;
}

/* ______________ Flex ______________________ */

.flex {
  display: flex;
}
